[Desktop Entry]
Name=YourBash
Comment=Manage CLI entries
Exec=bash /opt/desktop.sh
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=Development;
